@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-nunito: "Nunito Sans", sans-serif;
  --font-inter: "Inter", sans-serif;
}

h1 {
  font-size: 56px;
  @media (max-width: 768px) {
    font-size: 48px;
  }
}

h2 {
  font-size: 40px;
  @media (max-width: 768px) {
    font-size: 36px;
  }
}

h3 {
  font-size: 32px;
  @media (max-width: 768px) {
    font-size: 28px;
  }
}

h4 {
  font-size: 24px;
}

h6 {
  font-size: 18px;
  @media (max-width: 768px) {
    font-size: 16x;
  }
}

* {
  scroll-behavior: smooth;
}
